* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
  }
  
  body {
    background-color: #F28095;
    margin: 0;
  }
  
  header, footer {
    width: 1000px;
    margin: 0 auto;
  }
  
  header {
    height: 150px;
    background-color: #141a1a;
    background-image: url(images/bowl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    justify-content: center;
  }
  
  header img {
    display: flex;
    justify-self: end;
  }

  header h1 {
    margin: 0;
    padding-left: 32px;
    align-self: flex-start;
    position: absolute;
    justify-self: center;
  }

  #grid-container {
    width: 1000px;
    margin: 0 auto;
    background-color: #fdfdfd;
    display: grid;
    grid-template-columns: 184px 1fr;
    gap: 0 16px;
  }

  h1 {
    padding-top:50px;
  }

  h2 { 
    padding-top: 20px;
    padding-bottom: 20px;
 }
  
  nav {
    width: 120px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  /* Set styles for list items in nav */
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li {
    text-align: center;
  }
  
  /* Set styles for links in nav */
  nav a {
    display: block;
    padding: 16px;
    margin: 8px auto;
    background-color: #e0e5de;
    color: #141a1a;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:first-child,
  nav a:hover {
    background-color: #f28095;
  }
  
  /* Set styles for main */
  main {
    color: #542c1b;
    padding-bottom: 16px;
    justify-self: flex-start;
  }
  
  /* Set styles for image in main */
  main img {
    float: left;
    padding-left: 10px;
  }
  
  /* Set styles for paragraph and unordered list in main */
  main p,
  main ul {
    display: inline-block;
    width: 50%;
  }
  
  /* Set styles for paragraph in main */
  main p {
    margin-left: 32px;
  }
  
  /* Set styles for unordered list in main */
  main ul {
    margin-left: 16px;
  }
  
  /* Set styles for address */
  address {
    clear: both;
    padding-top: 16px;
    padding-left: 10px;
  }
  
  /* Set styles for footer */
  footer {
    font-style: italic;
    text-align: center;
    background-color: #afaeb4;
    padding: 8px 0;
    justify-content: center;
}

footer p {
    padding-top: 10px;
}
